@import "tailwindcss";

body {
  font-family: var(--font-rajdhani), sans-serif;
}

h1,
h2,
h3,
.logo-font {
  font-family: var(--font-orbitron), sans-serif;
}

.tech-font,
button,
nav a {
  font-family: var(--font-tech), monospace;
}
